

form {
     margin: 0px;
}

/* input flex classes */

[class*="i-flex"] {
     display: inline-flex;
 }

:where(button[class*="i-flex"]){
     align-items: center;
     justify-content: center;
 }
 
:where(div[role="group"].i-flex legend) {
     font-size: inherit;
     float: none;
 }
 
 
 :where([class *= "i-flex"]) {
     border: hidden 1px rgb(239, 239, 239, 0);
 }
 
 :where([class *= "i-flex"] label){
     background-color: #efefef;   
 }
 
 :where([class *= "i-flex"] input:required){
    outline: none;
    box-shadow: none;
 }

 :where([class^="i-flex"]) input{
     background-color: rgba(0, 0, 0, 0);
 }
 
 :where(.i-flex-full .flex-child) {
     min-height: 30px;
     transition: .2s;
     border: none;
 }
 
 :where(.i-flex-full [class *= "flex"]) {
     border-radius: 0;
 }
 
 :where([class *= "i-flex"].bd) {
     border: solid 1px #efefef;
 }

 :where([class *= "i-flex"] [class *= "flex"].bd-r:not(.bd)) {
     border-right: solid 1px #efefef;
 }
 
 :where([class*="i-flex"] [class*="flex"]) {
     min-height: 30px;
     transition: .2s;
     border: none;
 }

 
:where(.live .i-flex-full .flex-child:focus-within) {
     outline: solid 2px #efefef;
     outline-offset: -2px #efefef;
     cursor: text;
 }
 
:where(.live .i-flex-full .flex-full:focus-within) {
     outline: solid 2px #efefef;
     outline-offset: -2px;
     cursor: text;
 }

/* ...............Form Paddings */

input[class*="flex"] {

     padding-left: .35em;
     padding-right: .35em;

}

.fm-d2 input[class*="flex"] {

     padding-top: .2em;
     padding-bottom: .2em;

}

.fm-d2 button[class*="flex"] {

     padding-top: .2em;
     padding-bottom: .2em;

}

.fm-d5 input[class*="flex"] {

     padding-top: .5em;
     padding-bottom: .5em;

}

.fm-d5 button[class*="flex"] {

     padding-top: .5em;
     padding-bottom: .5em;

}

/* ...............Input spacings : default */

:where(.form-field > [class*="flex"]:first-child) {
     margin-top: .5em;
}
:where(.form-field > [class*="flex"]:not(:last-child)) {
     margin-bottom: .5em;
}

/* ...............Input spacings */

.sp-d5 > [class*="flex"]:first-child {
     margin-top: .5em;
}

.sp-d5 > [class*="flex"]:not(:last-child) {
     margin-bottom: .5em;
}


.sp-d7 > [class*="flex"]:first-child {
     margin-top: .7em;
}
.sp-d7 > [class*="flex"]:not(:last-child) {
     margin-bottom: .7em;
}

.sp-1 > [class*="flex"]:first-child {
     margin-top: 1em;
}
.sp-1 > [class*="flex"]:not(:last-child) {
     margin-bottom: 1em;
}

/* ...............Flex legend control */
:where([class*="flex"] > legend) {
     font-size: inherit;
     float: none;
}

/*textarea fields .............................................*/

:where(textarea.textarea:focus) {
     box-shadow: 0px 0px 2px #aaa;
     border: solid thin #aaa;
}
 
textarea:focus {
     box-shadow: none;
     outline: none;
}
 
 
/*span submits .............................................*/
 
span.submit {
     border: solid thin;
     border-color: #aaa;
     color: #757575;
     padding: 4px;
     border-radius: 4px;
}
 
span.submit:hover {
     cursor: pointer;
}
 
/*button submits .............................................*/
 
:where(input[type="submit"], input[type="button"]) {
     color: inherit;
}
 
button {
     color: inherit;
}
 
button.submit {
     border: solid thin;
     border-color: #aaa;
     color: #757575;
     background-color: transparent;
     padding: 4px;
     border-radius: 4px;
}
 
button.submit:hover {
     cursor: pointer;
}


/* Form input Hacks .......................................................................................*/

:where(input::placeholder) {
     color: rgb(130, 130, 130);
}
 
:where(input.fip::placeholder) {
     color: inherit;
}
 
:where(input:-ms-reval, input:-ms-clear) {
     display: none; /* remove auto eye and auto cancel buttons */
}
 
input:-webkit-autofill:focus {
     animation-delay: 0s;
     animation-name: autofill;
     animation-fill-mode: both;
     -webkit-animation-delay: 1s;
     /* Safari support - any positive time runs instantly */
     -webkit-animation-name: autofill;
     -webkit-animation-fill-mode: both;
}
 
@keyframes autofill {
     0%,
     100% {
         -webkit-text-fill-color: inherit;
         background: transparent;
     }
}
 
 :where(input.auto-white:-webkit-autofill,
 input.auto-white:-webkit-autofill:hover,
 input.auto-white:-webkit-autofill:focus,
 input.auto-white:-webkit-autofill:active) {
     box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
     -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
 }
 
 :where(input[type=text]) {
     font-size: inherit;
 }
 
 :where(input:not([type=submit]):focus) {
     box-shadow: #a6a6a6 0px 0px 0px;
     outline: none;
 }
 
 input.sp-inputs {
     position: relative;
     top: 2px;
 }
 
 /* Placeholder animation ...................... */

 [data-anime="place"]{
     position: relative;
     width:100%;
 }
 [data-anime="place"] > *:only-child{
     height: 100%;
 }
 [data-anime="place"] > *:only-child > :where(input, label){
     height: 100%;
 }
 [data-anime="place"] > label{
     position: absolute;
     background: transparent;
     height: 100%;
     width:100%;
     display: inline-flex;
     align-items: center;
     z-index: 0;
     transform: translateY(-100%);
     transition: transform .2s, padding .2s, font-size .2s, opacity .2s;
     cursor: text;     
 }

 [data-anime="place"] > :is(label, input){
     height: 100%;   
     font-size: .85em;
     padding: 0 .65em;
}
 [data-anime="place"][padd="hard"] > :is(label, input){
     padding: 0 .85em;
 }
 [data-anime="place"][padd="fair"] > :is(label, input){
     padding: 0 .65em;
 }
 [data-anime="place"][padd="soft"] > :is(label, input){
     padding: 0 .50em;
 }
 [data-anime="place"]:where([data-cast^="up-"]) > input:not(:placeholder-shown, :focus) + label{   
     transform: translateY(-150%);
 }
 [data-anime="place"] > input:not(:placeholder-shown, :focus) + label{   
     opacity: 0;  /* hide text when filled */
 }
 [data-anime="place"]:not([data-cast]) > input:not(:placeholder-shown):focus + label{   
     opacity: 0;  /* hide text when filled */
 }
 [data-anime="place"][data-cast="up-stick"] > input:not(:placeholder-shown) + label{   
     transform: translateY(-150%);
     opacity: 1;  /* show text when filled - upstick */
 }
 [data-anime="place"] > input:not(:placeholder-shown){
     background-color: transparent;
 }
 [data-anime="place"]:where([data-cast^="up-"]):focus-within input + label {
     transform: translateY(-150%);
     font-size: .85em;
 }
 [data-anime="place"]:active > input {
     opacity: 0; /* hide text on mousedown */
 }
 
 /* Loader Type animation .............. */
 
 [data-anime="place"][data-cast="up-fade"]:focus-within > label{
     opacity: 0; /* fade-up text */
 }
 
 [data-anime="place"][data-cast="fade"]:focus-within > label{
     opacity: 0; /* fade-in text */
 }
 [data-anime="place"][data-cast="up-fill"]{
     overflow: initial;
 }
 [data-anime="place"][data-cast="up-stick"]{
     overflow: initial;
     opacity: 1;
 }
 [data-anime="place"][data-cast="up-wait"]:focus-within input:not(:placeholder-shown) + label{
     opacity: 0;
 }
 [data-anime="place"][data-cast^="up-"][data-shrink]:focus-within input + label{
      font-size: .75em;
 }
 [data-anime="place"][data-cast^="up-"][data-shrink] input:not(:placeholder-shown) + label{
      font-size: .75em;
 }

 [data-anime="place"]:where([data-rule]:not([data-rule="line"]))::after{
     content: " ";
     display: block;
     position: absolute;
     left:0;
     bottom: 0;
     height: 2px;
     width:0px;
     background-color: currentColor;
     transition: .5s ease all;
 }

 [data-anime="place"]:where([data-rule="line"]) [line]{
     width:100%;
     display: block;
     position: absolute;
     left: 0;
     height: 2px;
     bottom: 0px;
 }
 [data-anime="place"]:where([data-rule="line"]) [line]::after{
     content: " ";
     display: block;
     position: absolute;
     left:0;
     bottom: -1px;
     height: 2px;
     width: 0;
     background-color: currentColor;
     transition: .5s ease all;
 }
 [data-anime="place"]:where([data-rule="line"]):focus-within [line]::after{
     width:100%;
 }

 [data-anime="place"][data-rule]:focus-within::after{
     width:100%;  
 }