[data-nav="spoova"] {
    margin: 0;
}

[data-nav="spoova"] ul {
    margin: 0;
}

[data-nav="spoova"] li {
    list-style: none;
}

[data-nav="spoova"][class*='in-flex'] {
    align-items: center;
}


/* e-404 internal design */
.e404{
    background-color: #525252;
    color: #c7c7c7;
}

.e404.theme-light {
    background-color: #e9e9e9;
    color: #6b6767;
}

.e404.theme-black {
    background-color: rgb(21, 15, 39);
    color: #c7c7c7;
}

.e404 .e-field {
    min-width: 320px;
}

@media (min-width: 1025px){
    .e404 img {
        width: 50%;
        height: 100%;
    }
}

/* device widths .....................................................................................*/


/*@media screen and (max-width: 1000px){
    .x{  
    }    
  }

  laptops
  @media (min-width: 1025px) and (max-width: 1280px){
    .x{  
    }    
  }     

  tablets(potrait)
  @media (min-width: 768px) and (max-width: 1024px){
    .x{  
    }    
  }     

  tablets(landscape)
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .x{ 
    }    
  }

  smartphones
  @media (min-width: 320px) and (max-width: 480px){
    .x{  
    }    
  }*/